<fieldset>
    <legend>Load Data</legend>
    <form method="get" action="/loaddata">


        <p>
            <label>start date</label>
            <input type="date" name="startdate" />
        </p>
        <p>
            <label>end date</label>
            <input type="date" name="enddate" />
        </p>
        <p>
            <input type="submit" value="Submit" />
        </p>
    </form>
</fieldset>