<div class="grid-frame vertical" style="background: #2b2b2b;">
    <a ba-open="score-card">
        <div class="grid-content collapse shrink header score-card" >
            <img src="images/header.png">
            <span style="color:black; position: absolute; left:34px; top: 4px; font-size: 12px;">Today</span>
            <span style="color:black; position: absolute; left:35px; top: 12px; font-size: 24px;">{{ vm.sampleData.today}}</span>
            <span style="color:white; position: absolute; left:105px; top: 6px; font-size: 14px;"><strong>{{vm.sampleData.hits}}</strong></span>
            <span style="color:white; position: absolute; right:150px; top: 6px; font-size: 14px"><strong>{{ vm.sampleData.knockouts}}</strong></span>
            <span style="color:white; position: absolute; right:50px; top: 6px; font-size: 14px"><strong>{{ vm.sampleData.tokens}}</strong></span>
        </div>
    </a>
    <div class="grid-block" ui-view>
    </div>
    <div class="grid-block shrink footer" ng-init="show=3">
        <!-- <a ui-sref="logout">Log Out</a> -->
        <ul class="menu-bar" style="background: transparent; height: 70px;">
            <li ng-hide="show==1"><a ba-open="animatedModal" ng-click="show=1"><img src="images/footer_account_inactive_icon.png"></a></li>
            <li ng-show="show==1"><a ba-open="animatedModal" ><img src="images/footer_account_ACTIVE_icon.png"></a></li>
            <li ng-hide="show==2"><a ui-sref="home.page2"  ng-click="show = 2"><img src="images/footer_trophy_inactive_icon.png"></a></li>
            <li ng-show="show==2"><a ui-sref="home.page2"  ng-click="show = 2"><img src="images/footer_trophy_ACTIVE_icon.png"></a></li>
            <li ng-hide="show==3"><a ui-sref="home.page3"  ng-click="show = 3"><img src="images/footer_picks_inactive_icon.png"></a></li>
            <li ng-show="show==3"><a ui-sref="home.page3"><img src="images/footer_picks_ACTIVE_icon.png"></a></li>
            <li ng-hide="show==4"><a ui-sref="home.page4"  ng-click="show = 4"><img src="images/footer_proshop_inactive_icon.png"></a></li>
             <li ng-show="show==4"><a ui-sref="home.page4"><img src="images/footer_proshop_ACTIVE_icon.png"></a></li>
            <li ng-hide="show==5"><a ui-sref="home.page5"  ng-click="show = 5"><img src="images/footer_social_inactive_icon.png"></a></li>
            <li ng-show="show==5"><a ui-sref="home.page5"><img src="images/footer_social_ACTIVE_icon.png"></a></li>
        </ul>
    </div>
</div>
<div ba-modal="" id="score-card" class="tiny" animation-in="slideInUp" animation-out="hingeOutFromMiddleY" style="background: #404040;">
  <a ba-close="" class="close-button">×</a>
  <img src="images/scorecard.jpg">
</p>

</div>

<div ba-modal="" id="animatedModal" animation-in="slideInUp" animation-out="hingeOutFromMiddleY" style="background: #404040;">
  <a ba-close="" class="close-button">×</a>
  <p style="color:white; text-align: center; padding-top: 300px;">Would you like to logout?</p>
  <p style="text-align: center;">
    <a class="alert hollow button" ui-sref="logout">Yes</a>
    <a ba-close="" class="success hollow button" ui-sref="logout">No</a> 
</p>

</div>