<div class="grid-block wrap" style="text-align: center;">
    <ul class="button-group segmented" style="border: #2b2b2b; padding-left: 30px;">
      <li>
        <label style="background: #2b2b2b; color:white; border: white; border: 1px solid; border-right: 0px; border-radius: 25px 0 0 25px; padding-left: 90px;" ng-click="toggle = 'trophy'">Trophies</label>
      </li>
      <li>
        <label style="background: #2b2b2b; color:white; border: white; border: 1px solid; border-radius: 0 25px 25px 0; padding-right: 90px;" ng-click="toggle = 'card'">Cards</label>
      </li>
    </ul>
</div>


<div style="background: #2b2b2b; height: 100%; width: 100%;" ng-show="toggle=='card'">
    <p style="color: white; text-align: center; font-size: 12px;"><strong>4</strong> <i>of</i> <strong>15</strong> COLLECTED</p>
    <div class="grid-block wrap" style="margin: 20px;">
        <div class="small-4" style="padding: 5px;">
            <img src="images/active-cards/mets_card_ACTIVE.jpg">
        </div>
        <div class="small-4" style="padding: 5px;" >
            <img src="images/inactive-cards/brewers_card_inactive.jpg">
        </div>
        <div class="small-4" style="padding: 5px;">
            <img src="images/inactive-cards/cardinals_card_inactive.jpg">
        </div>
        <div class="small-4" style="padding: 5px;" >
            <img src="images/inactive-cards/marlins_card_inactive.jpg">
        </div>
        <div class="small-4" style="padding: 5px;">
            <img src="images/active-cards/cubs_card_ACTIVE.jpg">
        </div>
        <div class="small-4" style="padding: 5px;" >
            <img src="images/active-cards/reds_card_ACTIVE.jpg">
        </div>
        <div class="small-4" style="padding: 5px;">
            <img src="images/inactive-cards/braves_card_inactive.jpg">
        </div>
        <div class="small-4" style="padding: 5px;" >
            <img src="images/inactive-cards/nationals_card_inactive.jpg">
        </div>
        <div class="small-4" style="padding: 5px;">
            <img src="images/inactive-cards/pirates_card_inactive.jpg">
        </div>
        <div class="small-4" style="padding: 5px;" >
            <img src="images/inactive-cards/phillies_card_inactive.jpg">
        </div>
    </div>
</div>

<div style="background: #2b2b2b; height: 100%; width: 100%;" ng-show="toggle=='trophy'">
    <p style="color: white; text-align: center; font-size: 12px;"><strong>4</strong> <i>of</i> <strong>15</strong> COLLECTED</p>
    <div class="grid-block wrap" style="margin: 20px;">
        <div class="small-6" style="padding: 5px;">
            <img src="images/trophies/active/TROPHY_10dingers_active.jpg">
        </div>
        <div class="small-6" style="padding: 5px;" >
            <img src="images/trophies/inactive/TROPHY_10dingers_inactive.jpg">
        </div>
        <div class="small-6" style="padding: 5px;">
            <img src="images/trophies/active/TROPHY_30k_active.jpg">
        </div>
        <div class="small-6" style="padding: 5px;" >
            <img src="images/trophies/inactive/TROPHY_30k_inactive.jpg">
        </div>
        <div class="small-6" style="padding: 5px;">
            <img src="images/trophies/active/TROPHY_alc_active.jpg">
        </div>
        <div class="small-6" style="padding: 5px;" >
            <img src="images/trophies/inactive/TROPHY_alc_inactive.jpg">
        </div>
        <div class="small-6" style="padding: 5px;">
            <img src="images/trophies/active/TROPHY_alw_active.jpg">
        </div>
        <div class="small-6" style="padding: 5px;" >
            <img src="images/trophies/inactive/TROPHY_alw_inactive.jpg">
        </div>
        <div class="small-6" style="padding: 5px;">
            <img src="images/trophies/active/TROPHY_daily_wins_active.jpg">
        </div>
        <div class="small-6" style="padding: 5px;" >
            <img src="images/trophies/inactive/TROPHY_daily_wins_inactive.jpg">
        </div>
        <div class="small-6" style="padding: 5px;">
            <img src="images/trophies/active/TROPHY_nlc_active.jpg">
        </div>
        <div class="small-6" style="padding: 5px;" >
            <img src="images/trophies/inactive/TROPHY_nlc_inactive.jpg">
        </div>
        <div class="small-6" style="padding: 5px;">
            <img src="images/trophies/active/TROPHY_nle_active.jpg">
        </div>
        <div class="small-6" style="padding: 5px;" >
            <img src="images/trophies/inactive/TROPHY_nle_inactive.jpg">
        </div>
        <div class="small-6" style="padding: 5px;">
            <img src="images/trophies/active/TROPHY_nlw_active.jpg">
        </div>
        <div class="small-6" style="padding: 5px;" >
            <img src="images/trophies/inactive/TROPHY_nlw_inactive.jpg">
        </div>
        <div class="small-6" style="padding: 5px;">
            <img src="images/trophies/active/TROPHY_no_hitter_active.jpg">
        </div>
        <div class="small-6" style="padding: 5px;" >
            <img src="images/trophies/inactive/TROPHY_no_hitter_inactive.jpg">
        </div>
    </div>
</div>

</div>