<div class="grid-block wrap" style="background: #404040; margin: 20px;">
    <input type="text" class="selectdate" ng-model="vm.selectedDate" name="date" data-date-format="EEE, MMMM d, yyyy" ng-change="vm.dateSelected()" bs-datepicker>
</div>

<div class="grid-block wrap" style="background: #404040; margin: 20px;" ng-repeat="game in vm.games">
    <div class="small-9" style="padding-right: 0px !important; background: #202020;">
        <div class="small-12 grid-content" style="padding-right: 35px;" ng-class="{nyn: nyn==1}" ng-click="active=1">
            <div class="grid-block">
                <div class="small-3" style="padding-left: 0px !important;">
                    <div ng-if="vm.awayIsActive(game)">
                        <img ng-src="images/active/{{game.awayTeam.code}}_ACTIVE_logo.png">
                    </div>
                    <div ng-if="!vm.awayIsActive(game)">
                        <img ng-src="images/inactive/{{game.awayTeam.code}}_inactive_logo.png">
                    </div>
                </div>
                <div class="small-6" style="padding-left: 20px; margin: auto; color:white; font-size: 12px">
                    {{game.awayTeam.name}}
                </div>
                <div class="small-3" style="text-align: right; margin: auto; color:white; font-size: 10px;">
                    {{game.awayTeam.record}}
                </div>
            </div>
        </div>
        <div class="small-12 grid-content" style="padding-right: 35px;" ng-class="{ari: ari==1}" ng-click="ari=1">
           <div class="grid-block">
               <div class="small-3">
                   <div ng-if="vm.homeIsActive(game)">
                       <img ng-src="images/active/{{game.homeTeam.code}}_ACTIVE_logo.png">
                   </div>
                   <div ng-if="!vm.homeIsActive(game)">
                       <img ng-src="images/inactive/{{game.homeTeam.code}}_inactive_logo.png">
                   </div>
               </div>
                <div class="small-6" style="padding-left: 20px; margin: auto; color:white; font-size: 12px">
                    {{game.homeTeam.name}}
                </div>
                <div class="small-3" style="text-align: right; margin: auto; color:white; font-size: 10px;">
                    {{game.homeTeam.record}}
                </div>
            </div>
        </div>
        
    </div>
    <div ba-open="player-info" class="small-3 grid-content" style="padding-left: 0px !important; margin: auto;  color:white; text-align: center; height: 70px;"><p style="font-size: 12px; padding-top: 25px; padding-left: 8px;">{{game.startTimeFormat}} CT</p></div>
</div>

<div ba-modal="" id="player-info" class="tiny" style="">
  <a ba-close="" class="close-button" style="color:white;">×</a>
    <div style="background: white;">
        <div class="grid-block wrap" style="background: #404040;">
            <div class="small-6" style="padding-right: 0px !important; background: #202020;">
                <img src="images/cardinals_active.png">
            </div>
            <div class="small-6" style="padding-left: 0px !important; background: #202020;">
                <img src="images/cubs_inactive.png">
            </div>
        </div>
        <br>
        <div class="grid-block wrap" style="background: white;">
            <div class="small-4" style="background: white; text-align: center; font-size: 12px;">
                <strong>41-9</strong>
            </div>
            <div class="small-4" style="background: white; text-align: center; font-size: 12px;">
                Record
            </div>
            <div class="small-4" style="background: white; text-align: center; font-size: 12px;">
                <strong>21-29</strong>
            </div>
        </div>
        <hr style="margin-left: 10px; margin-right: 10px;">
        <div class="grid-block wrap" style="background: white;">
            <div class="small-4" style="background: white; text-align: center; font-size: 12px;">
                <strong>7-3</strong>
            </div>
            <div class="small-4" style="background: white; text-align: center; font-size: 12px;">
                Last 10
            </div>
            <div class="small-4" style="background: white; text-align: center; font-size: 12px;">
                <strong>4-6</strong>
            </div>
        </div>
        <hr style="margin-left: 10px; margin-right: 10px;">
        <div class="grid-block wrap" style="background: white;">
            <div class="small-4" style="background: white; text-align: center; font-size: 12px;">
                <strong>8-2</strong>
            </div>
            <div class="small-4" style="background: white; text-align: center; font-size: 12px;">
                H2H
            </div>
            <div class="small-4" style="background: white; text-align: center; font-size: 12px;">
                <strong>2-8</strong>
            </div>
        </div>
        <hr style="margin-left: 10px; margin-right: 10px;">
        <div class="grid-block wrap" style="background: white;">
            <div class="small-5" style="background: white; text-align: center; font-size: 12px;">
                <strong>Syndergaard</strong>
                <label style="font-size: 10px;">6-9, 4.14 ERA</label>
            </div>
            <div class="small-2" style="background: white; text-align: center; font-size: 12px;">
                vs
            </div>
            <div class="small-5" style="background: white; text-align: center; font-size: 12px;">
                <strong>Hellickson</strong>
                <label style="font-size: 10px;">6-9, 4.14 ERA</label>
            </div>
        </div>
    </div>
</div>











