body {
    background: #fff;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
}
.main-login {
	background: url("../images/login_backer.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.main-login-logo { 
	height: 300px;
	width: 300px;
	display: block;
  	margin: 0 auto;
  	margin-top: 100px;
}

#username {
	color: white;
	background: transparent;
    border: none;
    border-bottom: 2px solid lightgrey;
    width: 80%;
    margin: auto;
  	text-align: center;
}

.submit-div {
	height: 100px;
}

#submit {
	height: 100px;
	background:  #30bc75;
}

.pick-cards {
	padding: 20px;
}

.inline-pick {
	padding: 0px !important;
}
#player-info > aside {
	padding: 0px !important;
	padding-top: 75px !important;
	height: 450px !important;
	background: transparent !important;
}

#animatedModal > aside {
    background-color: rgba(51,51,51,.9) !important;
}

.modal-overlay{
	background-color: rgba(51,51,51,.9) !important;
}

.picked{

.ana { 
    background: #12284c;
}


.ari { 
    background: #b81034;
}


.atl { 
    background: #002856;
}


.bal { 
    background: #000000;
}


.bos { 
    background: #0a2340;
}


.cha { 
    background: #000000;
}


.chn { 
    background: #0b5b9c;
}


.cin { 
    background: #c20330;
}


.cle { 
    background: #081336;
}


.col { 
    background: #000000;
}


.det { 
    background: #0a2340;
}


.hou { 
    background: #011e41;
}


.kca { 
    background: #002d74;
}


.lan { 
    background: #002f6e;
}


.mia { 
    background: #000000;
}


.mil { 
    background: #c20330;
}


.min { 
    background: #195a7d;
}


.nya { 
    background: #0a2340;
}


.nyn { 
    background: #002d74;
}


.oak { 
    background: #014538;
}


.phi { 
    background: #d91b24;
}


.pit { 
    background: #000000;
}


.sdn { 
    background: #011e41;
}


.sea { 
    background: #015c58;
}


.sfn { 
    background: #000000;
}


.sln { 
    background: #c20330;
}


.tba { 
    background: #011e42;
}


.tex { 
    background: #c20330;
}


.tor { 
    background: #003595;
}


.was { 
    background: #b9122b;
}

}























